<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Treinador</title>
</head>
<body>
    <h1>Adicionar Treinador</h1>
    <form action="/addTreinador" method="post">
        <label for="nome">Nome do Treinador:</label>
        <input type="text" id="nome" name="nome" required>
        <br><br>
        <input type="submit" value="Criar Treinador">
    </form>
    <a href="/">Voltar à Pokédex</a>
</body>
</html>