<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/public/css/indexStyle.css">
    <style>
        /* Estilo para a página da Pokédex */
body {
    background-color: #f0f8ff; /* Azul claro inspirado no tema Pokémon */
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Título principal */
h1 {
    color: #ff0000; /* Vermelho Pokédex */
    font-size: 2.5em;
    margin: 20px 0;
    text-shadow: 2px 2px 5px #ffa500; /* Sombra laranja para destaque */
}

/* Links principais */
a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #3b4cca; /* Azul inspirado no universo Pokémon */
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #ffcc00; /* Amarelo Pikachu */
    color: #333;
}

/* Lista de treinadores */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

li a {
    color: #3b4cca; /* Azul padrão */
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.3s ease;
}

li a:hover {
    color: #ff6347; /* Vermelho ao passar o mouse */
}

    </style>
</head>
<body>
    <h1>Pokédex</h1>
    <a href="/addTreinador">Adicionar Treinador</a>
    <br>
    <a href="/treinadores">Ver Treinadores</a>
    <ul>
        <% treinadores.forEach(function(treinador) { %>
            <li>
                <a href="/treinadores/<%= treinador.id %>"><%= treinador.nome %></a>
            </li>
        <% }); %>
    </ul>
</body>
</html>