<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Pokedex</title>
</head>
<body>
    <h1>Pokédex</h1>
    <a href="/addTreinador">Adicionar Treinador</a>
    <br>
    <a href="/treinadores">Ver Treinadores</a>
    <ul>
        <% treinadores.forEach(function(treinador) { %>
            <li>
                <a href="/treinadores/<%= treinador.id %>"><%= treinador.nome %></a>
            </li>
        <% }); %>
    </ul>
</body>
</html>