
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Pokémons</h1>
    <ul>
        <% pokemons.forEach(pokemon => { %>
            <li><strong>ID:</strong> <%= pokemon.id %>, <strong>Nome:</strong> <%= pokemon.nome %>, <strong>Tipo:</strong> <%= pokemon.tipo %></li>
        <% }); %>
    </ul>
</body>
</html>